<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Általános">
	    <setting label="Videó minősége" type="enum" id="autopick" values="Választható|Legjobb" default="0"/>
	    <setting label="Epizód tartalom letöltése" type="bool" id="fillLead" default="false" />
    </category>
    <category label="Bejelentkezés">
        <setting label="TV2 Play bejelentkezés" type="lsep" />
        <setting label="E-mail cím:" type="text" id="email" default="" />
        <setting label="Jelszó:" type="text" id="password" option="hidden" default="" />
        <setting type="bool" id="loggedIn" visible="false" default="false" />
        <setting id="logout" type="action" label="[B][COLOR red]Kijelentkezés[/COLOR][/B]" option="close" action="RunPlugin(plugin://plugin.video.tv2play/?action=logout)" visible="eq(-1,true)"></setting>
        <setting type="text" id="jwtToken" visible="false" default="" />
        <setting type="bool" id="hasPremium" visible="false" default="false" />
    </category>
</settings>
